<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<h3>Tasks</h3>
<ul>
<% @user.tasks.each do |u| %>
	<li><%= User.find(u.assign_by).name %> told you to <%= u.text %></li>
<% end %>
</ul>
<p>
<%= button_to "New Task", new_path, :class => "button medium", :method => :get %>
